<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">WSJ Article Scraper</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link mr-1" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link mr-1" href="/saved">Saved Articles</a>
      </li>
    </ul>
  </div>
</nav>
<div class="jumbotron text-center">
  <h1 class="display-2 mb-2">WSJ Article Scraper</h1>
  <p class="lead">Scrape articles or clear the database to get started.</p>
  <a class="btn btn-primary btn-lg text-white mr-3" id="scrape" href="/scrape">Scrape articles</a>
  <a class="btn btn-danger btn-lg text-white" id="clear" href="/clear">Clear Articles</a>
</div>

{{#each articles}}
<div class="containter ml-5">
    <div class="col-4" style="float: left">

            <div class="card-body" style="width: 22rem; height: 22rem;">
                <h3 class="card-title">{{this.title}}</h4>
                <p class="card-subtitle mb-2 py-1">Summary: {{this.summary}}</p>
                <a class="btn btn-sm btn-success" href={{this.link}}>Article Link</a>
                &nbsp;&nbsp;
                <a class="btn btn-sm btn-success" id="unSaveArticle" href="/remove">Remove Article</a>
            </div>

    </div>
</div>
{{/each}}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="app.js"></script>
<script src="../controller/routes.js"></script>